@import "compass/css3";

$color: #74c4c5;
$semi-transparent-color: lighten(rgba(116, 196, 197, 0.3), 30%);

body {
  margin: 0;
  padding: 0;
  background: #f3f3f3;
}

h1, h2, h3, h4 {
  font-weight: lighter;
}

.fc th, .fc td {
  font-weight: lighter;
}

main {
  background: #f3f3f3;
  margin: 51px;
  margin-top: 23px;
  opacity: 0.94;
}

.tt-highlight {
  font-weight: bolder;
}

.tt-hint {
  font-weight: bolder;
}

.input-container {
  @include box-sizing(border-box);
  padding: 10px;
}

.tt-menu {
  margin-top: 5px;
  background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.9);
  width: 100%;
  border: 1px solid #eaeaea;
  box-sizing: border-box;
  .tt-suggestion {
    color: $color;
    padding: 4px 2px 4px 10px;
    font-size: 14px;
    text-align: left;
    background-color: inherit;
    @include transition(background-color 0.3s);
    &:hover {
      background-color: lighten($color, 30%);
      cursor: pointer;
    }
  }
}

.copyright {
  font-family: 'Ubuntu Light';
}

.form {
  text-align: center;
}

.person-container {
  margin-right: -50px;
  &:first-child {
    margin-right: 0;
  }
}

#attendeesForm {
  @include box-sizing(border-box);
  margin: auto;
  max-width: 440px;
  text-align: center;
  padding: 40px;
}

.fc, form {
  button {
    color: $color;
    border-radius: 8px;
    background: none repeat scroll 0% 0% transparent;
    box-shadow: none;
    border: 1px solid $color;
    font-size: 14px;
    font-weight: lighter;
    padding: 10px 10px;
    @include transition (background-color 0.3s);
    &:hover {
      cursor: pointer;
      background-color: lighten($color, 35%);
    }
  }
  .remove-person {
    display: inline-block;
    box-sizing: border-box;
    border-radius: 50%;
    box-shadow: none;
    border: 1px solid #C58E74;
    @include transition(background-color 0.3s);
    background: transparent;
    font-size: 14px;
    color: #C58E74;
    padding: 6px 8px;
    vertical-align: -9px;
    margin-left: 10px;
    &:hover {
      cursor: pointer;
      background-color: lighten(#C58E74, 30%);
    }
    span {
      @include transform(rotate(45deg));
    }
  }
  .native-input {
    color: $color;
    padding: 10px;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    border: 1px solid #dfdfdf;
    font-size: 12px;
    font-weight: normal;
    &.tt-hint {
      font-weight: lighter;
    }
  }
  .fc-button {
    border: 1px solid $color;
    background: transparent;
    padding: 4px 12px;
    font-weight: lighter;
    color: $color;
    &:hover {
      background-color: rgba(116, 196, 197, 0.3);
    }
    &.fc-state-disabled {
      color: #acacac;
      border-color: #acacac;
      &:hover {
        background-color: transparent;
      }
    }
    &.fc-state-active {
      background-color: rgba(212, 236, 236, 0.56);
      box-shadow: 0px 3px 3px rgba(181, 208, 209, 0.57);
      text-shadow: 0 3px 3px lighten($color, 30%);
    }
  }
  .fc-toolbar {
    .fc-next-button {
      .fc-icon {
        right: 4px;
      }
    }
    .fc-prev-button, .fc-next-button {
      @include transition(background-color 0.3s);
      color: $color;
      background: transparent;
      padding: 4px;
      border-radius: 50%;
      border: 1px solid #74c4c5;
      &.fc-hover {
        background-color: lighten(rgba(116, 196, 197, 0.3), 30%);
      }
      .fc-icon {
        font-weight: lighter;
        margin: 0;
        padding: 2px;
        &:after {
          color: $color;
          font-weight: lighter;
          margin: 0;
          left: 0;
        }
      }
      &:hover {
        background-color: lighten(rgba(116, 196, 197, 0.3), 10%);
      }
    }
  }
}

#calendar {
  width: 80%;
  margin: auto;
  min-height: 700px;
}

.form-title {
  color: $color;
  font-weight: lighter;
  font-size: 18px;
  text-align: center;
}

.row {
  text-align: center;
  &.checkbox-row {
    width: 49%;
    display: inline-block;
    label {
      color: $color;
    }
  }
  &.half-row {
    width: 45%;
    display: inline-block;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 4%;
    margin-right: 0;
    &:first-child {
      margin-right: 4%;
      margin-left: 0;
    }
  }
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  margin: 10px auto;
  label {
    display: block;
    text-align: left;
    color: $color;
  }
}

#meetingForm {
  text-align: center;
}

.ui-timepicker-wrapper {
  z-index: 5000;
  max-height: 200px;
  overflow-y: auto;
  .ui-timepicker-list {
    list-style: none;
    background: white;
    margin-top: 0;
    padding-left: 0;
    background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.9);
    li {
      font-size: 14px;
      color: $color;
      padding: 5px 0 5px 10px;
      @include transition(background-color 0.3s);
      background: none repeat scroll 0% 0% rgba(250, 250, 250, 0.9);
      &:hover {
        background-color: lighten($color, 30%);
      }
    }
  }
}

#chooseAttendeesPopup {
  .mfp-content {
    width: 460px !important;
  }
}

#chooseOptionsPopup {
  .mfp-content {
    width: 660px !important;
    .form-container {
      width: 660px;
    }
  }
}

.form-container {
  width: 460px;
  margin: auto;
  @include box-sizing(border-box);
  background: none repeat scroll 0% 0% white;
  padding: 20px;
}

.popup-open-button {
  color: $color;
  border: 1px solid $color;
  text-decoration: none;
  border-radius: 50%;
  background-color: white;
  font-size: 16px;
  padding: 6px 8px;
}

footer {
  background-color: #888a8f;
  margin-top: 50px;
  line-height: 100px;
  .copyright {
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    color: white;
    display: block;
    font-family: 'Ubuntu Light', 'Helvetica Neue', Arial;
  }
  &:before {
    position: absolute;
    content: '';
    top: -20px;
    height: 20px;
    width: 100%;
    left: 0;
    background-color: #eeeeee;
  }
}

$mfp-overlay-opacity: 0.6;
$mfp-overlay-color: #ffffff;

.mfp-3d-unfold {
  .mfp-content {
    perspective: 2000px;
  }

  &.mfp-black-background {
    &.mfp-ready {
      &.mfp-bg {
        background-color: #0b0b0b;
        opacity: 0.8;
      }
    }
  }


  .mfp-with-anim {
    opacity: 0;
    @include transition(all 0.3s ease-in-out);
    transform-style: preserve-3d;
    @include transform(rotateY(-60deg));
  }
  &.mfp-bg {
    opacity: 0;
	  @include transition(all 0.5s);
  }

  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      @include transform(rotateY(0deg));
    }
    &.mfp-bg {
      opacity: $mfp-overlay-opacity;
    }
  }

  &.mfp-removing {
    .mfp-with-anim {
      @include transform(rotateY(60deg));
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
  }
}

.mfp-close {
  font-weight: 300;
  font-family: Arial;
  font-size: 22px
}

.mfp-hide {
  display: none;
}

